@use "variable" as variable;

html {
	* {
		font-size: variable.$page-mode-font-size;
		line-height: 100%;
	}
}

body {
	background: #eeeeee;
}

div#mode-page {
	margin: 2rem;
	line-height: 1.2rem;

	h1 {
		font-weight: bold;
		text-align: center;
		font-size: 1.5rem;
		margin: 1rem auto;
	}

	header {
		font-size: 0.8rem;
		background: #dddddd;
		margin: 1rem;

		nav {
			ul {
				margin: 0;
				text-align: right;

				li {
					display: inline;

					& + li {
						margin-left: 1ch;
					}
				}
			}
		}
	}

	main {
		margin: 1rem;
	}
}
