@use "variable" as variable;

main#editor {
	.react-tabs__tab {
		user-select: none;
	}

	.tab {
		&.panel {
			display: none;

			&.react-tabs__tab-panel--selected {
				display: block;

				position: absolute;
				top: variable.$tab-editor-header-height;
				left: 0;
				bottom: 0;
				right: 0;
				overflow: auto;
			}
		}

		&.tab-file {
			background: variable.$app-timeline-default-background;

			.auto-save {
				table-layout: fixed;

				th,
				td {
					padding: 0.2em;
				}

				th {
					background: gray;

					& + th {
						border-left: 1px solid whitesmoke;
					}
				}

				.kind-cell {
				}
				.enabled-cell {
				}
				.span-cell {
					text-align: center;

					.span {
						width: 8ch;
					}
				}

				.last-time-cell {
				}
				.next-time-cell {
				}

				.time {
					font-family: monospace;
				}
			}
		}

		&.tab-timeline {
			background: white;
			user-select: none;
		}

		&.tab-setting {
			code.example {
				border: 1px solid gray;
			}

			.setting-tab-item {
				display: none;

				&.react-tabs__tab-panel--selected {
					display: block;

					position: absolute;
					top: variable.$tab-editor-header-height;
					left: 0;
					bottom: variable.$tab-editor-header-height;
					right: 0;
					overflow: auto;

					background: variable.$app-timeline-default-background;
				}

				&.general {
					.timezone-selector {
						max-height: 8em;
						width: fit-content;
						overflow: auto;

						button {
							width: 100%;

							&.current {
								font-weight: bold;
							}
						}
					}
				}

				&.resource {
					.group {
						.count {
							display: inline-block;
							width: 4ch;
							&::before {
								content: "(";
							}
							&::after {
								content: ")";
							}
						}

						.remove {
							margin-left: 2em;
						}
					}

					.member + .group {
						margin-top: 1em;
						padding-top: 0.5em;
						border-top: 1px solid black;
					}

					.members {
						margin-top: 1em;

						th,
						td {
							padding-inline: 0.25ex;
						}

						thead {
							th {
								text-align: center;
								font-weight: bold;
							}
						}

						tfoot {
							td {
								padding-top: 1em;
							}
						}

						td {
							* {
								width: 100%;
							}
						}

						.name-cell {
							min-width: 20ch;
						}
						.cost-cell,
						.sales-cell {
							width: 10ch;
						}
						.theme-cell {
							width: 100px;
						}

						.month-cost-cell,
						.month-sales-cell {
							width: 10ch;
						}
						.rate-cell {
							width: 5ch;
						}

						.remove-cell {
							min-width: 6ch;
						}

						tbody {
							.month-cost-cell,
							.month-sales-cell {
								padding-right: 1em;
								font-family: monospace;
								text-align: right;
							}

							.rate-cell {
								text-align: center;
							}

							.remove-cell {
								padding-left: 1em;
							}
						}

						tfoot {
							.add-cell {
								//width: 12ch;
							}
						}
					}

					.group-color {
						border: 1px solid red;

						.color-types {
							display: flex;
							flex-direction: row;
							justify-content: space-around;
						}

						.color-table {
							table-layout: fixed;
							margin: 1em;

							.member-cell {
								min-width: 5ch;
							}

							.color-cell {
								min-width: 12ch;
							}

							.member-cell,
							.color-cell {
								padding: 0.25em;
								border-inline: 1px dashed darkgray;
							}

							thead {
								.color-cell {
									white-space: nowrap;
									text-align: left;

									label {
										display: block;
									}
								}
							}

							tbody {
								.color-cell {
									border-radius: 1em;
									text-align: center;
									font-size: 0.8em;
									font-family: Consolas, monospace;
								}
							}
						}
					}
				}

				&.calendar {
					dd.range {
					}

					dd.week {
					}

					dd.holiday {
						.holiday {
							display: flex;

							.holidays {
								& + .holidays {
									margin-left: 3rem;
								}
							}
						}
					}
				}

				&.theme {
					$cell-padding: 0.25em 0.5em;

					.holiday {
						td {
							padding: $cell-padding;

							// &.header {
							// }
							// &.subject {
							// }
							// &.theme {
							// }
						}
					}

					.groups {
						td {
							padding: $cell-padding;
						}
					}

					.timeline {
						td {
							padding: $cell-padding;
						}
					}
				}
			}

			.setting-save {
				position: absolute;
				bottom: 0;
			}
		}
	}
}
