@use "variable" as variable;

main#edit {
	user-select: none;

	.tab {
		&.panel {
			display: none;

			&.react-tabs__tab-panel--selected {
				display: block;

				position: absolute;
				top: variable.$tab-edit-header-height;
				left: 0;
				bottom: 0;
				right: 0;
				overflow: auto;
			}
		}

		&.tab-file {
			background-color: #aee;
		}

		&.tab-timeline {
			background-color: #eae;
		}

		&.tab-setting {
			.setting-tab-item {
				display: none;

				&.react-tabs__tab-panel--selected {
					display: block;

					position: absolute;
					top: variable.$tab-edit-header-height;
					left: 0;
					bottom: variable.$tab-edit-header-height;
					right: 0;
					overflow: auto;

					background: #fefefe;
				}

				&.group {
					background-color: lime;

					.group {
						& + .group {
							margin-top: 1em;
						}
					}

					.members {
						td {
							* {
								width: 100%;
							}
						}

						input[type="number"] {
							text-align: right;
						}

						.name {
							min-width: 20ch;
						}
						.cost {
							width: 10ch;
						}
						.sales {
							width: 10ch;
						}
						.theme {
							min-width: 6ch;
						}
						.remove {
							min-width: 6ch;
						}
						.add {
							//width: 12ch;
						}
					}
				}

				&.calendar {
					dd.range {
						background: pink;
					}

					dd.week {
						background: red;
					}

					dd.holiday {
						.holiday {
							display: flex;
							background-color: lime;

							.holidays {
								& + .holidays {
									margin-left: 3rem;
								}

								.editor {
									width: 32ch;
									min-height: 8em;
								}
							}
						}
					}
				}
			}

			.setting-save {
				position: absolute;
				bottom: 0;
			}
		}
	}
}
