@use "variable" as variable;
@use "./mixin/control" as control;
@use "./mixin/box" as box;

// z-index もうだめかも・・・
$cross-header-z-index: 10;
$days-header-z-index: 8;
$highlight-area-z-index: 6;
$timelines-z-index: 4;
$viewer-z-index: 2;

#timeline {
	$timeline-header-id-width: 14ch;
	$timeline-header-subject-width: 15ch;
	$timeline-header-workload-width: 9ch;
	$timeline-header-resource-width: 10ch;
	$timeline-header-relation-width: 4ch;
	$timeline-header-range-from-width: 12ch;
	$timeline-header-range-to-width: 12ch;
	$timeline-header-progress-width: 7ch;
	$timeline-header-controls-item-width: 5ch;

	$app-header-height: 80px;
	$app-header-width: $timeline-header-id-width + $timeline-header-subject-width + $timeline-header-workload-width +
		$timeline-header-resource-width + $timeline-header-relation-width + $timeline-header-range-from-width +
		$timeline-header-range-to-width + $timeline-header-progress-width + $timeline-header-controls-item-width;

	display: grid;
	width: max-content;

	font-size: variable.$app-timeline-mode-font-size;

	* {
		font-size: variable.$app-timeline-mode-font-size;
	}

	.timeline-header {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;

		.timeline-id {
			@include box.width($timeline-header-id-width);
		}
		.timeline-subject {
			@include box.width($timeline-header-subject-width);
		}
		.timeline-workload {
			@include box.width($timeline-header-workload-width);
		}
		.timeline-resource {
			@include box.width($timeline-header-resource-width);
		}
		.timeline-relation {
			@include box.width($timeline-header-relation-width);
			text-align: center;
		}
		.timeline-range-from {
			@include box.width($timeline-header-range-from-width);
		}
		.timeline-range-to {
			@include box.width($timeline-header-range-to-width);
		}
		.timeline-range-area {
			@include box.width($timeline-header-range-from-width + $timeline-header-range-to-width);
		}
		.timeline-progress {
			@include box.width($timeline-header-progress-width);
		}
		.timeline-controls {
			@include box.width($timeline-header-controls-item-width);
		}
	}

	#cross-header {
		display: flex;
		flex-direction: column;
		background: #dddddd;
		z-index: $cross-header-z-index;
		position: sticky;
		top: 0;
		left: 0;
		grid-row-start: 1;
		grid-column-start: 1;

		width: $app-header-width;
		height: $app-header-height;
		border-bottom: 1px solid black;
		border-right: 1px solid black;

		.header {
			h1 {
				font-weight: bold;
			}
		}
		.content {
			flex: content;

			.inline {
				button {
					height: 2em;
				}

				hr {
					display: block;
					width: 1em;
					visibility: hidden;
				}
			}
		}
		.footer {
			.timeline-header {
				$background: darkgrey;

				text-align: center;
				position: relative;

				&.header {
					background: $background;

					&:hover {
						& > .specials {
							display: flex;
						}
					}

					.timeline-cell {
						border-right: 1px solid black;
					}

					.specials {
						top: 0;
						position: absolute;
						display: none;
						background: $background;
					}
				}
			}
		}
	}

	#days-header {
		$days-header-background: #eeeeee;

		background: $days-header-background;
		//border-bottom: 1px solid black;

		z-index: $days-header-z-index;
		position: sticky;
		top: 0;
		grid-row-start: 1;
		grid-column-start: 2;

		@include box.height($app-header-height);
		//height: $app-header-height;

		table {
			table-layout: fixed;
			border-collapse: collapse;
			@include box.height($app-header-height);
			// DPI が 96 超えてるとあかんわ・・・
			// // Firefox だと大丈夫だけど Chrome がずれる。根本解決が全然分からんのでお茶を濁した
			// transform: translateY(-1px);
		}

		@mixin row {
			&,
			* {
				vertical-align: middle;
			}
		}

		@mixin cell {
			border-right: 1px solid black;
			border-bottom: 1px solid black;
		}

		.year-month {
			@include row();

			td {
				position: sticky;
				top: 0;
				left: $app-header-width;
				background: $days-header-background;

				time {
					border-left: 1px dotted black;
					padding-left: 10px;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}

		.day {
			@include row();

			text-align: center;

			td {
				@include cell();

				time {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}

		.week {
			@include row();

			text-align: center;

			td {
				@include cell();
			}
		}

		.information {
			@include row();

			text-align: center;

			td {
				@include cell();
			}

			details {
				position: relative;

				& > summary {
					cursor: pointer;
					list-style: none;
				}

				&[open] > summary {
					transform: scale(3);
				}

				& > .contents {
					//@include box.width(initial);
					z-index: $days-header-z-index + 1;

					position: absolute;
					display: block;
					top: -100%;
					left: 100%;
					color: black;
					background: white;
					border: 1px solid gray;
					border-radius: 0.5em;
					box-shadow: 3px 3px 3px 0px rgba($color: black, $alpha: 0.8);
					padding: 0.5em;
					white-space: nowrap;
					text-align: left;

					& > dl {
						& > dt {
							font-weight: bold;
						}
						& > dd {
							margin-left: 1ex;

							.separator {
								margin-inline: 0.5ex;
								color: gray;
							}
						}
					}

					.close {
						text-align: center;
						margin-top: 0.5em;

						.button {
						}
					}
				}
			}
		}
	}

	#timelines {
		background: white;
		z-index: $timelines-z-index;
		position: sticky;
		left: 0;
		grid-row-start: 2;
		grid-column-start: 1;
		width: $app-header-width;

		.task {
			.timeline-range-from,
			.timeline-range-to,
			.timeline-range-area {
				&.clickable {
					cursor: pointer;
				}
			}
		}

		.timeline-range-from {
			text-align: center;
		}

		.timeline-range-to {
			text-align: center;
		}

		.timeline-range-area {
			text-align: center;
		}

		.timeline-header {
			border-bottom: 1px dotted black;

			&.selected-previous {
				text-shadow: 0px 0px 1px;
				outline: 2px dashed orange;
				outline-offset: -2px;
			}

			.timeline-cell {
				border-right: 1px dotted black;
			}

			.edit {
				@mixin editing($border-color, $background) {
					border: none;
					background: $background;
				}

				margin: 0;
				padding: 0;
				vertical-align: baseline;
				height: 100%;

				background: rgba($color: #fff, $alpha: 0.5);
				border: none;
				outline: none;

				// @at-root {
				// 	select.edit {
				// 		outline: 10px solid lime !important;;
				// 	}
				// }

				&:disabled,
				&:read-only {
					cursor: default;
				}

				&:not(:disabled):not(:read-only) {
					&:hover {
						@include editing(gray, rgba(white, 0.9));
					}
					&:focus {
						@include editing(black, white);
					}
				}
			}

			.prompt {
				$prompt-background-color: palegoldenrod;
				$prompt-outline-width: 2px;

				position: relative;

				background-color: $prompt-background-color;
				outline: $prompt-outline-width $prompt-background-color solid;
				z-index: $timelines-z-index + 1;

				.tools {
					//z-index: $highlight-area-z-index + 1; //うごかね
					outline: $prompt-outline-width $prompt-background-color solid;
					height: fit-content;
					background-color: $prompt-background-color;

					width: max-content;

					&.before {
						position: absolute;
						//right: 100%;
						top: 0;
						transform: translateX(-100%);
					}

					&.after {
						position: absolute;
						left: calc(100% + $prompt-outline-width);
						top: 0;
					}

					button {
						width: 100%;
					}
				}

				// .overlay {
				// 	&::before {
				// 		z-index: $timelines-z-index + 2;
				// 		grid-row-start: 1;
				// 		grid-column-start: 1;

				// 		position: fixed;
				// 		top: 0;
				// 		left: 0;
				// 		bottom: 0;
				// 		right: 0;
				// 	}
				// }
			}

			.timeline-id {
				&[draggable="true"] {
					$cursor: grab;

					cursor: $cursor;

					&.dragging {
						opacity: 1;
						color: black;
						border: 1px solid gray;
					}

					* {
						cursor: $cursor;
					}
				}

				.previous {
					display: none;
				}
			}

			.timeline-range-area.prompt {
				.contents {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;

					.main {
						flex: content;

						input {
							@include control.reset();
							background: white;
							color: black;
							width: 100%;
						}
					}

					li {
						display: flex;
						button {
							align-items: center;
							justify-content: center;

							@include control.reset();
							border: 1px solid black;
							width: 2em;
							background: gainsboro;
						}
					}
				}
				.tools {
					button {
						text-align: left;
					}
				}
			}

			label {
				display: block;
			}

			.timeline-subject {
				input {
					width: 100%;
				}
			}

			.timeline-workload {
				&.readonly {
					text-align: center;
				}

				input[type="number"] {
					width: 100%;
				}
			}

			.timeline-resource {
				select {
					width: 100%;
				}
			}

			.timeline-progress {
				&.readonly {
					text-align: center;
				}

				select {
					width: 100%;
					text-align: center;
				}
			}

			.timeline-controls {
				button.cell {
					@include control.reset();

					display: inline-block;
					width: 100%;
					height: 100%;
				}

				.tools {
					&.after {
						.grid {
							color: #000;
							table-layout: fixed;
							width: 300px;

							td {
								padding: 1px;
							}

							.col-header {
								width: 4.5em;
								padding-right: 1em;
							}

							.col-cell {
								//width: 6em;
							}

							button.simple {
								text-align: left;
								padding: 0;
							}
						}
					}
				}
			}
		}

		dialog.selector {
			table.previous {
				tr {
					&.self {
					}
				}

				td {
					white-space: nowrap;

					& > label {
						display: block;
					}
				}
			}
		}
	}

	#viewer {
		z-index: $viewer-z-index;
		width: 100%;
		height: 100%;
		// border-top: 1px solid black;

		grid-row-start: 2;
		grid-column-start: 2;

		#canvas {
			width: 100%;
			height: 100%;

			.progress {
				pointer-events: none;
			}
		}

		#connecters {
			position: relative;
		}
	}

	.timeline-editor {
		width: 40vw;

		input,
		select {
			width: 100%;
		}

		.progress-fixed {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			.range {
				flex: content;
			}
		}
	}

	#highlight-area {
		@mixin highlight-animation($animation-name, $base-color) {
			background: rgba($base-color, 0.5);
			animation: #{$animation-name} 3s ease forwards;

			@keyframes #{$animation-name} {
				0% {
					background-color: rgba($base-color, 0.7);
				}
				10% {
					background-color: rgba($base-color, 0.5);
				}
				100% {
					background-color: rgba($base-color, 0);
				}
			}
		}

		position: absolute;
		top: $app-header-height;
		left: 0;
		z-index: $highlight-area-z-index;

		pointer-events: none;

		.highlight-row {
			position: absolute;
			left: 0;

			&.active {
				border-bottom: 2px solid red;
			}
			&.hover {
				border-bottom: 2px solid coral;
			}
			&.highlight {
				@include highlight-animation("row", yellow);
			}

			&.drag-source {
				background: rgba(gray, 0.5);
			}
			&.drag-over {
				background: rgba(lime, 0.3);
			}
		}

		.highlight-column {
			position: absolute;
			top: 0;

			&.highlight {
				@include highlight-animation("column", yellow);
			}
		}
	}
}
