$overlay-index: 10;

.overlay-wrapper {
	background-color: transparent;
	position: fixed;
	z-index: $overlay-index;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.overlay-children {
	z-index: $overlay-index + 1;
	position: relative;
}
