dialog {
	& > .content {
		$header-height: 40px;
		$footer-height: 40px;

		display: grid;
		grid-template-rows: $header-height 1fr $footer-height;
		overflow: visible;

		.header {
			background: red;
		}

		.main {
			overflow: auto;
			//margin-block: $header-height $footer-height;
			min-height: $header-height + $footer-height;

			//max-height: 70vh;//calc(70vh - (#{$footer-height + $footer-height}));
		}

		.footer {
			background: lime;

			ul.buttons {
				text-align: center;

				& > li {
					display: inline-block;

					& + li {
						margin-left: 1rem;
					}
				}

				button {
					height: 2rem;
					padding: 1rem 2rem 1rem;
					text-align: center;
					display: inline-flex;
					align-items: center;
				}
			}
		}
	}
}
