dialog {
	padding: 0;

	&::backdrop {
		backdrop-filter: blur(0.25ex);
	}

	& > .content {
		$header-height: 40px;
		$footer-height: 40px;

		display: flex;
		flex-direction: column;
		//min-height: min-content;
		//max-height: 100%;
		//overflow: auto;
		//grid-template-rows: $header-height 1fr $footer-height;

		.header {
			min-height: $header-height;
			max-height: $header-height;
			background: red;
		}

		.main {
			flex: content;
			background-color: pink;
			overflow: auto;
			padding: 1rem;
			//min-height: auto;
			//margin-block: ($header-height / 2) ($footer-height / 2);
			//min-height: $header-height + $footer-height;
			//max-height: 80%;//calc(70vh - (#{$footer-height + $footer-height}));
			max-height: calc(70vh - (#{$footer-height + $footer-height}));
		}

		.footer {
			min-height: $footer-height;
			max-height: $footer-height;

			background: lime;

			ul.buttons {
				text-align: center;

				& > li {
					display: inline-block;

					& + li {
						margin-left: 1rem;
					}
				}

				button {
					height: 2rem;
					padding: 1rem 2rem 1rem;
					text-align: center;
					display: inline-flex;
					align-items: center;
				}
			}
		}
	}
}
