main#edit {
	.tab {
		&.panel {
			display: none;

			&.react-tabs__tab-panel--selected {
				position: absolute;
				top: 34px;
				left: 0;
				bottom: 0;
				right: 0;
				overflow: auto;
				display: block;
			}
		}
	}

	.tab-file {
		background-color: #aee;
	}

	.tab-edit {
		background-color: #eae;
	}

	.tab-setting {
		background-color: #eea;

		dd.calendar {
			dd.week {
				background: red;
			}

			dd.holiday {
				.holiday {
					display: flex;
					background-color: lime;

					.holidays + .holidays {
						margin-left: 3rem;
					}
				}
			}
		}
	}
}
