#timeline {
	//$timeline-header-id-width: 10ch;
	$timeline-header-id-width: 14ch;
	$timeline-header-subject-width: 15ch;
	$timeline-header-workload-width: 7ch;
	$timeline-header-resource-width: 8ch;
	$timeline-header-relation: 2em;
	$timeline-header-range-from-width: 11ch;
	$timeline-header-range-to-width: 11ch;
	$timeline-header-progress-width: 5ch;
	$timeline-header-controls-item-width: 3ch;

	$app-header-height: 80px;

	display: grid;
	width: max-content;

	.timeline-header {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;

		.timeline-id {
			width: $timeline-header-id-width;
		}
		.timeline-subject {
			width: $timeline-header-subject-width;
		}
		.timeline-workload {
			width: $timeline-header-workload-width;
		}
		.timeline-resource {
			width: $timeline-header-resource-width;
		}
		.timeline-relation {
			width: $timeline-header-relation;
			text-align: center;
		}
		.timeline-range-from {
			width: $timeline-header-range-from-width;
			text-align: center;
		}
		.timeline-range-to {
			width: $timeline-header-range-to-width;
			text-align: center;
		}
		.timeline-range-area {
			width: $timeline-header-range-from-width + $timeline-header-range-to-width;
			text-align: center;
		}
		.timeline-progress {
			width: $timeline-header-progress-width;
		}
	}

	#cross-header {
		background-color: lime;

		z-index: 2;
		position: sticky;
		top: 0;
		left: 0;
		grid-row-start: 1;
		grid-column-start: 1;

		height: $app-header-height;
	}

	#days-header {
		background-color: pink;

		z-index: 1;
		position: sticky;
		top: 0;
		grid-row-start: 1;
		grid-column-start: 2;

		height: $app-header-height;

		table {
			table-layout: fixed;
			// white-space: nowrap;
		}

		.cell {
			//filter: invert(100%) grayscale(100%) contrast(100);
			//filter: grayscale(1) contrast(9999) invert(1);
		}

		.year-month {
		}

		.day {
			text-align: center;
		}

		.week {
			text-align: center;
		}
	}

	#timelines {
		background: orange;

		z-index: 0;
		position: sticky;
		left: 0;
		grid-row-start: 2;
		grid-column-start: 1;

		.task {
			.timeline-range-from,
			.timeline-range-to,
			.timeline-range-area {
				&.clickable {
					cursor: pointer;
				}
			}
		}

		.timeline-header {
			&.dragging {
				opacity: 0.8;
				filter: contrast(50%) grayscale(100%);
			}

			&.drag-over {
				position: relative;
				mix-blend-mode: overlay;
			}

			&.hover {
				position: relative;
				outline: 3px double rgba(255, 0, 0, 0.555);
			}

			.prompt {
				position: relative;

				background-color: palegoldenrod;
				outline: 2px palegoldenrod solid;
				height: fit-content;

				.tools {
					background-color: palegoldenrod;
					outline: 2px palegoldenrod solid;
					height: fit-content;

					width: max-content;

					&.before {
						position: absolute;
						right: 0;
						top: 0;
					}

					&.after {
						position: absolute;
						left: $timeline-header-range-from-width + $timeline-header-range-to-width;
						top: 0;
					}

					button {
						width: 100%;
					}
				}

				.overlay {
					&::before {
						z-index: 3;
						grid-row-start: 1;
						grid-column-start: 1;

						position: fixed;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						background-color: #28ddc5a4;
					}
				}
			}

			.timeline-id[draggable="true"] {
				$cursor: grab;

				cursor: $cursor;

				&.dragging {
					opacity: 1;
					color: black;
					background: whitesmoke;
					border: 1px solid gray;
				}

				* {
					cursor: $cursor;
				}
			}

			label {
				display: block;
			}

			.timeline-subject {
				input {
					width: 100%;
				}
			}

			.timeline-workload {
				input[type="number"] {
					width: 100%;
					text-align: right;
				}
			}

			.timeline-resource {
				select {
					width: 100%;
				}
			}

			.timeline-progress {
				input[type="number"] {
					width: 100%;
					text-align: right;
				}
			}

			.timeline-controls {
				button.simple {
					//width: $timeline-header-controls-item-width;
					padding: 0;
				}
			}
		}

		.task {
			& > .timeline-header {
				background-color: olivedrab;
			}
		}

		dialog.selector {
			table.previous {
				tr {
					&.self {
						background: gold;
					}
				}

				td {
					white-space: nowrap;

					& > label {
						display: block;
					}
				}
			}
		}
	}

	#viewer {
		background: skyblue;

		width: max-content;
		height: max-content;

		grid-row-start: 2;
		grid-column-start: 2;

		canvas {
			background: darkblue;
			width: 100%;
			height: 100%;
		}
	}
}
