main#edit {
	.tab-edit {
		background-color: rebeccapurple;

		&.visible {
			position: absolute;
			top: 34px;
			left: 0;
			bottom: 0;
			right: 0;
			overflow: auto;
		}
	}

	.tab-setting {
		dd.calendar {
			dd.week {
				background: red;
			}

			dd.holiday {
				display: flex;
				background-color: lime;

				.holiday + .holiday {
					margin-left: 3rem;
				}
			}
		}
	}
}
